
{% extends "layout.html" %}

{% block css %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<script src="https://maps.googleapis.com/maps/api/js?key={{googlemapskey}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/compiled.css') }}">
<style media="screen" type="text/css">
html, body {
    height: 100%;
    width: 100%;
}
img[src="/static/img/bus.png"]{
    background-color: white;
}
</style>

<script>
route = "{{route}}";
</script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block body %}

    <div id="app"/></div>

{% endblock %}


{% block js %}
<script type=text/javascript src="{{url_for('static', filename='js/script.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='js/querystring.js') }}"></script>
<script src="{{ url_for('static', filename='js/bundle.js') }}" type="text/javascript"></script>

{% endblock %}
