
{% extends "layout.html" %}

{% block css %}

<style media="screen" type="text/css">

#app {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
}

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

#main {
    min-height: 100%;
    height: 100%;
}

</style>


{% endblock %}

{% block content_class %}container fill{% endblock %}
{% block content %}

    <div id="app"/></div>
    <script src="{{ url_for('static', filename='js/bundle.js') }}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="https://npmcdn.com/classnames/index.js"></script>
<script src="https://npmcdn.com/react-input-autosize/dist/react-input-autosize.js"></script>
<script src="https://npmcdn.com/react-select/dist/react-select.js"></script>

<link rel="stylesheet" href="https://npmcdn.com/react-select/dist/react-select.css">
{% endblock %}
